9. SQL Member Count
In this MySQL challenge, your query should return the names of the people who are
reported to (excluding null values), the number of members that report to them, and
the average age of those members as an integer. The rows should be ordered by the
names in alphabetical order. Your output should look like the following table.
+-----------------------+----------------+-------------------+
| ReportsTo | Members | Average Age |
+-----------------------+----------------+-------------------+
| Bob Boss   |       2      |        24        |
| Daniel Smith |     1     |        22        |
| David S     |       1      |        25        |
| Jenny Richards | 2      |        31        |
+-----------------------+----------------+-------------------+
Resource of Mysql
host: 35.186.153.190
port: 3307
user: root
password: P@ssw0rd08082021
Table: employee

In [90]:
import mysql.connector


reportTo = []
members = []
AverageAge =[]

mydb = mysql.connector.connect(
  host="35.186.153.190",
  port = 3307,  
  user="root",
  password="P@ssw0rd08082021",
  database="employee"
)

#print(mydb)
mycursor = mydb.cursor()


mycursor.execute("select ReportsTo from employee GROUP BY ReportsTo")
myresult = mycursor.fetchall()

for x in myresult:
    if(x[0] != None):
        reportTo.append(x[0])


for i in range(len(reportTo)):
    mycursor.execute("select COUNT(id),avg(age) from employee where ReportsTo= '"+str(reportTo[i])+"' ")
    myresult = mycursor.fetchall()

    for x in myresult:
        members.append(x[0])
        AverageAge.append( round(x[1]) )
    
##########################
# print(len(reportTo))
# print(len(members))
# print(len(AverageAge))


##########################

max_letter = 0
for report_name in reportTo:
    if(len(report_name) > max_letter):
        max_letter = len(report_name)
head = '+'
for i in range(3):
    for j in range(max_letter+6):
        head +='-'
    head+='+'
head+='\n'
columns=['ReportsTo','Members','Average Age']
for i in columns:
    num_space = (max_letter+6-len(columns))//3
    head+='|'
    for j in range(num_space):
        head+=' '
    head+=i
    for j in range(num_space):
        head+=' '
head+='|\n'
head+='+'
for i in range(3):
    for j in range(max_letter+6):
        head +='-'
    head+='+'
head+='\n'

for i in range(len(reportTo)):
    num_space = [(max_letter+6-len(reportTo[i]))//3,(max_letter+6-len( str(members[i]) ))//2,(max_letter+6-len( str(AverageAge[i]) ))//2]
    head+='|'
    for j in range(num_space[0]):
        head+=' '
    head+=reportTo[i]
    for j in range(num_space[0]):
        head+=' '
    
    head+='|'
    for j in range(num_space[1]):
        head+=' '
    head+=str(members[i])
    for j in range(num_space[1]):
        head+=' '
    
    head+='|'
    for j in range(num_space[2]):
        head+=' '
    head+=str(AverageAge[i])
    for j in range(num_space[2]):
        head+=' ' 
    head+='|\n'
    
    for i in range(3):
        for j in range(max_letter+6):
            head +='-'
        head+='+'
    head+='\n'
    

    
print(head)

+--------------------+--------------------+--------------------+
|     ReportsTo     |     Members     |     Average Age     |
+--------------------+--------------------+--------------------+
|    Bob Boss    |         2         |         24         |
--------------------+--------------------+--------------------+
|  Daniel Smith  |         1         |         22         |
--------------------+--------------------+--------------------+
|    David S    |         1         |         25         |
--------------------+--------------------+--------------------+
|  Jenny Richards  |         2         |         31         |
--------------------+--------------------+--------------------+